pwd
.Rproj.user
.Rhistory
.RData
.RDataTmp
*.Rproj
quality_review*
*.tmp
*.docx
GBIF_combined*
GBIF_downloads*
GBIF_image_metadata*
MothEU_barebones.csv
stalledDownloadRequests.txt
speciesMatchLog.txt
GADM*
figures/*.pdf
Reproducibility/*.pdf
temp*
dataOverview*
*.log